<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!-- Camel Context -->
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route id="rss-to-file">
            <from uri="rss:{{rss.url}}{{rss.options}}"/>
            <marshal> <rss/> </marshal>
            <to uri="stream:out"/>
            <to uri="file://rss" />
        </route>
    </camelContext>
</beans>